<div *ngIf="isModalOpen" class="modal-overlay"></div>
<div *ngIf="isModalOpen" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>NEW TASK</h2>
      <div class="status-buttons">
        <button
          [ngClass]="{'open-btn': task.status === 10}"
          (click)="setStatus(10)"
        >
          Open
        </button>
        <button
          [ngClass]="{'closed-btn': task.status === 20}"
          (click)="setStatus(20)"
        >
          Closed
        </button>
      </div>
    </div>
    <form (ngSubmit)="onSave()">
      <div class="form-group">
        <input type="text" id="entityName" name="entityName" placeholder="Entity Name" [(ngModel)]="task.entity_name" required />
      </div>
      <div class="form-group date-time-group">
        <div class="date-input">
          <input type="date" id="date" name="date" [(ngModel)]="task.date" required />
        </div>
        <div class="time-inputs">
          <select id="hours" name="hours" [(ngModel)]="task.hours">
            <!-- Hour options -->
            <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
          </select>
          <select id="minutes" name="minutes" [(ngModel)]="task.minutes">
            <!-- Minute options -->
            <option *ngFor="let minute of minutes" [value]="minute">{{ minute }}</option>
          </select>
          <select id="period" name="period" [(ngModel)]="task.period">
            <option value="PM">PM</option>
            <option value="AM">AM</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <select id="call" name="call">
          <option value="call" (click)="setType(10)">Call</option>
          <option value="meeting" (click)="setType(20)">Meeting</option>
          <option value="video-call"(click)="setType(30)">Video Call</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" id="phoneNumber" placeholder="Phone Number" name="phoneNumber" />
      </div>
      <div class="form-group">
        <input
          type="text"
          id="contactPerson"
          name="contactPerson"
          [(ngModel)]="searchQuery"
          (input)="onSearchChange()"
          class="form-control"
          placeholder="Search contact person..."
        />
        <div class="dropdown-menu" *ngIf="filteredContactPersons.length">
          <ul>
            <li
              *ngFor="let person of filteredContactPersons"
              (click)="selectContactPerson(person)"
              class="dropdown-item"
            >
            {{ person.name }}
            </li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <textarea id="note" name="note" placeholder="Note (optional)" [(ngModel)]="task.note"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="cancel-btn" (click)="onCancel()">CANCEL</button>
        <button type="submit" class="save-btn">SAVE</button>
      </div>
    </form>
  </div>
</div>
